eg-lights-motion-control-daynight-flow.json
[{"id":"68862836.29c7a8","type":"subflow","name":"Lights Motion Control","info":"","category":"home_assistant","in":[{"x":57,"y":162,"wires":[{"id":"92cf1e14.7068"}]}],"out":[{"x":470,"y":375,"wires":[{"id":"38649522.99f89a","port":0}]},{"x":560,"y":390,"wires":[{"id":"38649522.99f89a","port":1}]},{"x":650,"y":75,"wires":[{"id":"2a0d169a.91782a","port":0}]},{"x":890,"y":105,"wires":[{"id":"d5248d86.f7096","port":0}]}],"env":[{"name":"timeOffAfter","type":"num","value":"120"},{"name":"manualCooldown","type":"num","value":"30"},{"name":"brightness","type":"num","value":"100","ui":{"type":"input","opts":{"types":["num","bool","json","bin"]}}},{"name":"transitionOn","type":"num","value":"2"},{"name":"transitionOff","type":"num","value":"2"},{"name":"pause","type":"str","value":"5"},{"name":"controlLights","type":"str","value":""},{"name":"manualLight","type":"bool","value":"false"}],"meta":{},"color":"#52C0F2","icon":"font-awesome/fa-lightbulb-o","status":{"x":1027,"y":157,"wires":[{"id":"effe188b.5340f8","port":0}]}},{"id":"cf76e785.ab1978","type":"change","z":"68862836.29c7a8","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":178,"wires":[["d5248d86.f7096"]]},{"id":"d5248d86.f7096","type":"state-machine","z":"68862836.29c7a8","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-detected","motion-on","motion-off","off","on"],"transitions":[{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"off","from":"*","to":"off"},{"name":"on","from":"*","to":"on"},{"name":"switch","from":"off","to":"switch"},{"name":"switch","from":"on","to":"switch"},{"name":"switch","from":"switch","to":"switch"},{"name":"switch","from":"motion-on","to":"switch"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"}],"x":741,"y":157,"wires":[["38649522.99f89a","effe188b.5340f8"]]},{"id":"d2742f90.7a1ce","type":"change","z":"68862836.29c7a8","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":541,"y":223,"wires":[["d5248d86.f7096"]]},{"id":"cab8f6da.31e818","type":"change","z":"68862836.29c7a8","name":"stop","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":630,"wires":[["380a05c00a74bf5f"]]},{"id":"ca0b865c.9f9898","type":"inject","z":"68862836.29c7a8","name":"Initial State","props":[{"p":"reset","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","x":665,"y":570,"wires":[["6210bc08.905bc4","3044ab1b0964f72a"]]},{"id":"faa9cc31.66ec7","type":"link in","z":"68862836.29c7a8","name":"","links":["801822a5.c6d75","e8072572.fffa18"],"x":592,"y":120,"wires":[["d5248d86.f7096"]]},{"id":"801822a5.c6d75","type":"link out","z":"68862836.29c7a8","name":"living room state","links":["faa9cc31.66ec7"],"x":1020,"y":570,"wires":[]},{"id":"38649522.99f89a","type":"switch","z":"68862836.29c7a8","name":"State Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"},{"t":"eq","v":"motion-off","vt":"str"},{"t":"eq","v":"motion-on","vt":"str"},{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":465,"wires":[["4c844b6f.159114","a26b8394.bcc5c"],["3dda34d6.1dd5bc"],["7f31ef6f068e5b93"],["cab8f6da.31e818","ba847a7ca44c07c3"]]},{"id":"82902d91.d0dbf","type":"rbe","z":"68862836.29c7a8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":369,"y":223,"wires":[["d2742f90.7a1ce"]]},{"id":"92cf1e14.7068","type":"switch","z":"68862836.29c7a8","name":"Topic Route","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"^config\\b","vt":"str","case":false},{"t":"regex","v":"^reset\\b","vt":"str","case":false},{"t":"eq","v":"light_state","vt":"str"},{"t":"cont","v":"sensor.","vt":"str"},{"t":"regex","v":"^(light|switch)\\.","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":5,"x":175,"y":162,"wires":[["2a0d169a.91782a"],["ba8e1c42c48890af"],["d5248d86.f7096"],["d1f38468.a6c768"],["82902d91.d0dbf","4a9e28b2.6d3bf8"]]},{"id":"2a0d169a.91782a","type":"function","z":"68862836.29c7a8","name":"Update Configuration","func":"// Init our Lights state while we're here\nlet lights = flow.get('lights')\n// Is this our start-up initialisation? (If so, reset config!)\nlet init = msg.init || false\nif (!lights)\n  flow.set('lights', { state: { }, ids: [], ids_csv: '' })\n\n// Merge new Payload with existing config and defaults\nlet cfg = Object.assign(\n  // Existing Config\n  init?flow.get('cfg')||{}:{},  // 'cfg.'+id\n  // Updated Config\n  msg.payload)\n\n// Make sure Light IDs are initted.\n// if (!cfg.lights) cfg.lights = []\nif (!cfg.brightness)\n  cfg.brightness = env.get('brightness') || 100\n\nif (!cfg.transitionOn && cfg.transitionOn !== 0)\n  cfg.transitionOn = env.get('transitionOn') || 2\n  \nif (!cfg.transitionOff && cfg.transitionOff !== 0)\n  cfg.transitionOff = env.get('transitionOff') || 2\n\nif (!cfg.lights && env.get('controlLights') && env.get('controlLights').length>0)\n    cfg.lights = env.get('controlLights').split(/\\s*,\\s*/)\n\nflow.set('cfg', cfg)\n\nreturn { topic: 'config', payload: cfg, lights }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":505,"y":75,"wires":[[]]},{"id":"d1f38468.a6c768","type":"switch","z":"68862836.29c7a8","name":"motion on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":375,"y":178,"wires":[["cf76e785.ab1978"]]},{"id":"4a9e28b2.6d3bf8","type":"function","z":"68862836.29c7a8","name":"Track Lights","func":"// Keep a record of all the light entity_ids coming in, for later switching\n\nlet lights = flow.get('lights') || { state: { }, ids: [], ids_csv: '' }\n\nlet [all, id] = msg.topic.match(/^light\\.(.*)/)\nlet update = false\n\nif (id) {\n  lights.state[id] = msg.data.new_state\n  if (!lights.ids.includes(id)) {\n    lights.ids.push(id)\n    update = true\n  }\n  lights.ids_csv = lights.ids.join(',')\n}\n\nflow.set('lights', lights)\n\nreturn {update}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":389,"y":268,"wires":[["daf678d0db2af786"]]},{"id":"4c844b6f.159114","type":"function","z":"68862836.29c7a8","name":"Light Cfg","func":"let cfg = flow.get('cfg')|| {}\nlet lights = flow.get('lights') || {}\n// Use Light IDs from Config if defined - otherwise use detected\nlet light_ids = cfg.lights || lights.ids\nlet delay = env.get('pause')*1000\n\n// Prepare config paramters for Light On. This is\n// an Array of Payload Data, one for each light\nlet payload = light_ids.map(id => { return {\n  data: {\n    brightness: Math.floor(cfg.brightness/100*255),\n    transition: cfg.transitionOn,\n    entity_id: 'light.'+id\n  }\n}})\n\nreturn {\n    topic: 'light.'+light_ids.join(','),\n    payload,\n    delay\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":525,"y":330,"wires":[["3cbac613.622432","e49dfffe0583db4e"]]},{"id":"3dda34d6.1dd5bc","type":"function","z":"68862836.29c7a8","name":"Light Cfg","func":"let cfg = flow.get('cfg')|| {}\nlet lights = flow.get('lights') || {}\n// Use Light IDs from Config if defined - otherwise use detected\nlet light_ids = cfg.lights || lights.ids\nlet delay = env.get('pause')*1000\n\n// Prepare config paramters for Light Off. This is\n// an Array of Payload Data, one for each light\nlet payload = light_ids.map(id => { return {\n  data: {\n    transition: cfg.transitionOff,\n    entity_id: 'light.'+id\n  }\n}})\n\nreturn {\n    topic: 'light.'+light_ids.join(','),\n    payload,\n    delay\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":525,"y":435,"wires":[["35ad226.a497bde","b1d245649953149b"]]},{"id":"35088d77.068da2","type":"inject","z":"68862836.29c7a8","name":"Default Configuration","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"init","v":"true","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"config","payload":"{}","payloadType":"json","x":235,"y":75,"wires":[["2a0d169a.91782a"]]},{"id":"949bf90b.fc19e8","type":"api-call-service","z":"68862836.29c7a8","name":"Turn on light","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1045,"y":285,"wires":[[]]},{"id":"a68e2b6.6b0c1d8","type":"api-call-service","z":"68862836.29c7a8","name":"Turn off light","server":"f43d015e.4b29","version":5,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"","mergeContext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1045,"y":435,"wires":[[]]},{"id":"6210bc08.905bc4","type":"function","z":"68862836.29c7a8","name":"Check State","func":"// Fetch light state from our \"Track Lights\" data\n// - no need for a HA State node\n\nlet lights = flow.get('lights') || { state: { }, ids: [], ids_csv: '' }\nlet cfg = flow.get('cfg')|| {}\n\n// Return \"on\" if any one light is \"on\"\nreturn {\n    topic: 'light.'+lights.ids_csv,\n    payload: lights.ids.map(id => lights.state[id].state).includes('on') ? 'on' : 'off'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":525,"wires":[["801822a5.c6d75"]]},{"id":"3c89b834.84d1a8","type":"split","z":"68862836.29c7a8","name":"Each Light","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":880,"y":285,"wires":[["949bf90b.fc19e8"]]},{"id":"389eef7d.ef9a","type":"split","z":"68862836.29c7a8","name":"Each Light","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":875,"y":435,"wires":[["a68e2b6.6b0c1d8"]]},{"id":"39541c73.33d464","type":"function","z":"68862836.29c7a8","name":"motion-on","func":"// We use a function here to generate a new clean message\n\nreturn {\n    topic: 'state',\n    payload: 'motion-on'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":885,"y":330,"wires":[["e8072572.fffa18"]]},{"id":"2368d65a.ed031a","type":"function","z":"68862836.29c7a8","name":"motion-off","func":"// We use a function here to generate a new clean message\n\nreturn {\n    topic: 'state',\n    payload: 'motion-off'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":615,"wires":[["801822a5.c6d75"]]},{"id":"a26b8394.bcc5c","type":"change","z":"68862836.29c7a8","name":"stop","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["b1d245649953149b"]]},{"id":"effe188b.5340f8","type":"function","z":"68862836.29c7a8","name":"status","func":"\nmsg.payload = {\n    text: msg.payload, \n    shape: msg.payload.match(/on/) ? 'ring' : 'dot',\n    fill: msg.payload == 'switch' ? 'red' : 'green'\n}\nreturn msg;","outputs":1,"noerr":0,"x":928,"y":157,"wires":[[]]},{"id":"3cbac613.622432","type":"switch","z":"68862836.29c7a8","name":"Manual?","property":"manualLight","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":705,"y":285,"wires":[[],["3c89b834.84d1a8"]]},{"id":"35ad226.a497bde","type":"switch","z":"68862836.29c7a8","name":"Manual?","property":"manualLight","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":705,"y":435,"wires":[[],["389eef7d.ef9a"]]},{"id":"e8072572.fffa18","type":"link out","z":"68862836.29c7a8","name":"living room state","links":["faa9cc31.66ec7"],"x":990,"y":330,"wires":[]},{"id":"ba8e1c42c48890af","type":"function","z":"68862836.29c7a8","name":"Reset","func":"flow.set('lights', null)\nflow.set('cfg', null)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":135,"wires":[["2a0d169a.91782a"]]},{"id":"daf678d0db2af786","type":"switch","z":"68862836.29c7a8","name":"Updated?","property":"update","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":270,"wires":[["2a0d169a.91782a"]]},{"id":"e49dfffe0583db4e","type":"trigger","z":"68862836.29c7a8","name":"pause","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":695,"y":330,"wires":[["39541c73.33d464"]]},{"id":"b1d245649953149b","type":"trigger","z":"68862836.29c7a8","name":"pause","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":695,"y":480,"wires":[["6210bc08.905bc4"]]},{"id":"3044ab1b0964f72a","type":"trigger","z":"68862836.29c7a8","name":"Back to Auto","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":715,"y":525,"wires":[["6210bc08.905bc4"]]},{"id":"ba847a7ca44c07c3","type":"change","z":"68862836.29c7a8","name":"cooldown","rules":[{"t":"set","p":"delay","pt":"msg","to":"$env('manualCooldown')*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":525,"y":525,"wires":[["3044ab1b0964f72a"]]},{"id":"7f31ef6f068e5b93","type":"change","z":"68862836.29c7a8","name":"timeOffAfter","rules":[{"t":"set","p":"delay","pt":"msg","to":"$env('timeOffAfter')*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":455,"y":585,"wires":[["380a05c00a74bf5f"]]},{"id":"380a05c00a74bf5f","type":"trigger","z":"68862836.29c7a8","name":"Turn Off after motion ends","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":685,"y":615,"wires":[["2368d65a.ed031a"]]},{"id":"18950ee8c0f0a84f","type":"server-state-changed","z":"de45111ccb8da943","name":"Light Changed - Kitchen","server":"f43d015e.4b29","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.kitchen_light","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":625,"y":360,"wires":[["2aff9ddaa2be732e"]]},{"id":"917bbc2793c982f2","type":"server-state-changed","z":"de45111ccb8da943","name":"Presence - Kitchen","server":"f43d015e.4b29","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":470,"y":405,"wires":[["df112be4d6c4e848"],[]]},{"id":"8c2125bf8aa42bb1","type":"debug","z":"de45111ccb8da943","name":"Kitchen Light Action","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":345,"wires":[]},{"id":"6a5bed7ffcdfd266","type":"server-state-changed","z":"de45111ccb8da943","name":"Default Light Brightness Changed","server":"f43d015e.4b29","version":0,"entityidfilter":"input_number.light_brightness","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":490,"y":315,"wires":[["3ddff3f43631ca66"]]},{"id":"3ddff3f43631ca66","type":"function","z":"de45111ccb8da943","name":"cfg","func":"\nreturn { topic: 'config.kitchen', payload: { brightness: parseInt(msg.payload) } }","outputs":1,"noerr":0,"x":697,"y":316,"wires":[["2aff9ddaa2be732e"]]},{"id":"df112be4d6c4e848","type":"switch","z":"de45111ccb8da943","name":"Not Daytime?","property":"day_mode","propertyType":"global","rules":[{"t":"neq","v":"day","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":405,"wires":[["2aff9ddaa2be732e"]]},{"id":"2aff9ddaa2be732e","type":"subflow:68862836.29c7a8","z":"de45111ccb8da943","name":"","x":910,"y":360,"wires":[["8c2125bf8aa42bb1"],["8c2125bf8aa42bb1"],[],[]]},{"id":"f43d015e.4b29","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
