subflows/lights-motion-control.json
[{"id":"52ec5c2a.0db154","type":"subflow","name":"Stop Timer+","info":"","category":"function","in":[{"x":125,"y":90,"wires":[{"id":"89c69cc7.495148"},{"id":"94a30b52.647a2"}]}],"out":[{"x":800,"y":90,"wires":[{"id":"ce429c.7ff06d68","port":0}]}],"env":[{"name":"defaultDelay","type":"num","value":"5","ui":{"label":{"en-US":"Default Delay (s)"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#E6E0F8","icon":"node-red/timer.svg","status":{"x":815,"y":150,"wires":[{"id":"94a30b52.647a2","port":0},{"id":"c5fd7733.50cae8","port":0}]}},{"id":"c9e2baf2.7dc288","type":"delay","z":"52ec5c2a.0db154","name":"Delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":545,"y":90,"wires":[["c5fd7733.50cae8","ce429c.7ff06d68"]]},{"id":"89c69cc7.495148","type":"function","z":"52ec5c2a.0db154","name":"","func":"msg.delay = (('delay' in msg) ? msg.delay : env.get('defaultDelay'))*1000\n\nif (msg.payload == 'stop')\n  return {reset: true}\n   \nreturn [[\n    {reset:true}, \n    msg\n    ]];","outputs":1,"noerr":0,"x":260,"y":90,"wires":[["c9e2baf2.7dc288"]]},{"id":"38062308.326b1c","type":"split","z":"52ec5c2a.0db154","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":405,"y":90,"wires":[[]]},{"id":"1d5704b9.6b4df3","type":"inject","z":"52ec5c2a.0db154","name":"Init","topic":"","payload":"defaultDelay","payloadType":"env","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":245,"y":45,"wires":[["309f0b20.5e9a3c"]]},{"id":"309f0b20.5e9a3c","type":"function","z":"52ec5c2a.0db154","name":"Set Delay","func":"// if (!('delay' in msg))\n    // msg.delay = env.get('defaultDelay')*1000\n\nreturn {\n        reset:true,\n        delay:env.get('defaultDelay')*1000\n    }","outputs":1,"noerr":0,"x":420,"y":45,"wires":[["c9e2baf2.7dc288"]]},{"id":"94a30b52.647a2","type":"function","z":"52ec5c2a.0db154","name":"Start status","func":"\nif (msg.payload == 'stop')\n    return { payload: {\n        text: 'stopped', \n        shape: 'ring',\n        fill: 'red'\n    } }\n\nreturn { payload: {\n    text: 'running ('+(msg.delay || env.get('defaultDelay'))+'s)', \n    shape: 'dot',\n    fill: 'green'\n} }\n","outputs":1,"noerr":0,"x":475,"y":150,"wires":[[]]},{"id":"c5fd7733.50cae8","type":"function","z":"52ec5c2a.0db154","name":"End status","func":"\nmsg.payload = {\n    // text: msg.payload, \n    // shape: stopped ? 'ring' : 'dot',\n    // fill: stopped ? 'red' : 'green'\n}\nreturn msg;","outputs":1,"noerr":0,"x":685,"y":135,"wires":[[]]},{"id":"ce429c.7ff06d68","type":"function","z":"52ec5c2a.0db154","name":"tweak","func":"// if (msg.delay)\n//   msg.delay = msg.delay / 1000\n\ndelete msg.stop;\ndelete msg.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":90,"wires":[[]]},{"id":"68862836.29c7a8","type":"subflow","name":"Lights Motion Control","info":"","category":"home_assistant","in":[{"x":57,"y":162,"wires":[{"id":"92cf1e14.7068"}]}],"out":[{"x":1175,"y":285,"wires":[{"id":"949bf90b.fc19e8","port":0},{"id":"3cbac613.622432","port":0}]},{"x":1175,"y":375,"wires":[{"id":"a68e2b6.6b0c1d8","port":0},{"id":"35ad226.a497bde","port":0}]},{"x":563,"y":79,"wires":[{"id":"2a0d169a.91782a","port":0}]}],"env":[{"name":"timeOffAfter","type":"num","value":"120"},{"name":"manualCooldown","type":"num","value":"30"},{"name":"transitionOn","type":"num","value":"2"},{"name":"transitionOff","type":"num","value":"2"},{"name":"pause","type":"str","value":"5"},{"name":"manualLight","type":"bool","value":"false"}],"color":"#52C0F2","icon":"font-awesome/fa-lightbulb-o","status":{"x":1032,"y":158,"wires":[{"id":"effe188b.5340f8","port":0}]}},{"id":"cf76e785.ab1978","type":"change","z":"68862836.29c7a8","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":178,"wires":[["d5248d86.f7096"]]},{"id":"d5248d86.f7096","type":"state-machine","z":"68862836.29c7a8","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-detected","motion-on","motion-off","off","on"],"transitions":[{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"off","from":"*","to":"off"},{"name":"on","from":"*","to":"on"},{"name":"switch","from":"off","to":"switch"},{"name":"switch","from":"on","to":"switch"},{"name":"switch","from":"switch","to":"switch"},{"name":"switch","from":"motion-on","to":"switch"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"}],"x":741,"y":157,"wires":[["38649522.99f89a","effe188b.5340f8"]]},{"id":"d2742f90.7a1ce","type":"change","z":"68862836.29c7a8","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":541,"y":223,"wires":[["d5248d86.f7096"]]},{"id":"cab8f6da.31e818","type":"change","z":"68862836.29c7a8","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":485,"y":585,"wires":[["a52980c6.214f88"]]},{"id":"ca0b865c.9f9898","type":"inject","z":"68862836.29c7a8","name":"Initial State","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":685,"y":495,"wires":[["6210bc08.905bc4","60f926e0.73c6b8"]]},{"id":"faa9cc31.66ec7","type":"link in","z":"68862836.29c7a8","name":"","links":["801822a5.c6d75","e8072572.fffa18"],"x":592,"y":120,"wires":[["d5248d86.f7096"]]},{"id":"801822a5.c6d75","type":"link out","z":"68862836.29c7a8","name":"living room state","links":["faa9cc31.66ec7"],"x":1020,"y":540,"wires":[]},{"id":"38649522.99f89a","type":"switch","z":"68862836.29c7a8","name":"State Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"},{"t":"eq","v":"motion-off","vt":"str"},{"t":"eq","v":"motion-on","vt":"str"},{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":311,"y":414,"wires":[["4c844b6f.159114","a26b8394.bcc5c"],["3dda34d6.1dd5bc"],["a52980c6.214f88"],["cab8f6da.31e818","60f926e0.73c6b8"]]},{"id":"82902d91.d0dbf","type":"rbe","z":"68862836.29c7a8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":369,"y":223,"wires":[["d2742f90.7a1ce"]]},{"id":"92cf1e14.7068","type":"switch","z":"68862836.29c7a8","name":"Topic Route","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"^config\\b","vt":"str","case":false},{"t":"eq","v":"light_state","vt":"str"},{"t":"cont","v":"sensor.","vt":"str"},{"t":"regex","v":"^(light|switch)\\.","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":175,"y":162,"wires":[["2a0d169a.91782a"],["d5248d86.f7096"],["d1f38468.a6c768"],["82902d91.d0dbf","4a9e28b2.6d3bf8"]]},{"id":"2a0d169a.91782a","type":"function","z":"68862836.29c7a8","name":"Update Configuration","func":"// Init our Lights state while we're here\nlet lights = flow.get('lights')\nif (!lights)\n  flow.set('lights', { state: { }, ids: [], ids_csv: '' })\n\n// Merge new Payload with existing config and defaults\nlet cfg = Object.assign(\n  // Existing Config\n  flow.get('cfg')||{},  // 'cfg.'+id\n  // Updated Config\n  msg.payload)\n\n// Make sure Light IDs are initted.\n// if (!cfg.lights) cfg.lights = []\nif (!cfg.brightness)\n  cfg.brightness = 100\n\nflow.set('cfg', cfg)\n\nreturn { topic: 'config', payload: cfg }","outputs":1,"noerr":0,"x":413,"y":121,"wires":[[]]},{"id":"d1f38468.a6c768","type":"switch","z":"68862836.29c7a8","name":"motion on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":375,"y":178,"wires":[["cf76e785.ab1978"]]},{"id":"4a9e28b2.6d3bf8","type":"function","z":"68862836.29c7a8","name":"Track Lights","func":"// Keep a record of all the light entity_ids coming in, for later switching\n\nlet lights = flow.get('lights') || { state: { }, ids: [], ids_csv: '' }\n\nlet [all, id] = msg.topic.match(/^light\\.(.*)/)\n\nif (id) {\n  lights.state[id] = msg.data.new_state\n  if (!lights.ids.includes(id))  \n    lights.ids.push(id)\n  lights.ids_csv = lights.ids.join(',')\n}\n\nflow.set('lights', lights)\n\nreturn lights","outputs":1,"noerr":0,"x":389,"y":268,"wires":[[]]},{"id":"4c844b6f.159114","type":"function","z":"68862836.29c7a8","name":"Light Cfg","func":"let cfg = flow.get('cfg')|| {}\nlet lights = flow.get('lights') || {}\n// Use Light IDs from Config if defined - otherwise use detected\nlet light_ids = cfg.lights || lights.ids\n\n// Prepare config paramters for Light On. This is\n// an Array of Payload Data, one for each light\nlet payload = light_ids.map(id => { return {\n  data: {\n    brightness: Math.floor(cfg.brightness/100*255),\n    transition: env.get('transitionOn'),\n    entity_id: 'light.'+id\n  }\n}})\n\nreturn {\n    topic: 'light.'+light_ids.join(','),\n    payload\n}","outputs":1,"noerr":0,"x":525,"y":360,"wires":[["3c89b834.84d1a8","c1bd7dbd.a6c438"]]},{"id":"3dda34d6.1dd5bc","type":"function","z":"68862836.29c7a8","name":"Light Cfg","func":"let cfg = flow.get('cfg')|| {}\nlet lights = flow.get('lights') || {}\n// Use Light IDs from Config if defined - otherwise use detected\nlet light_ids = cfg.lights || lights.ids\n\n// Prepare config paramters for Light Off. This is\n// an Array of Payload Data, one for each light\nlet payload = light_ids.map(id => { return {\n  data: {\n    transition: env.get('transitionOff'),\n    entity_id: 'light.'+id\n  }\n}})\n\nreturn {\n    topic: 'light.'+light_ids.join(','),\n    payload\n}","outputs":1,"noerr":0,"x":525,"y":405,"wires":[["389eef7d.ef9a","805a6ad9.621228"]]},{"id":"35088d77.068da2","type":"inject","z":"68862836.29c7a8","name":"Default Configuration","topic":"config","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":96,"wires":[["2a0d169a.91782a"]]},{"id":"949bf90b.fc19e8","type":"api-call-service","z":"68862836.29c7a8","name":"Turn on light","server":"f43d015e.4b29","version":0,"service_domain":"light","service":"turn_on","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":330,"wires":[[]]},{"id":"a68e2b6.6b0c1d8","type":"api-call-service","z":"68862836.29c7a8","name":"Turn off light","server":"f43d015e.4b29","service_domain":"light","service":"turn_off","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":420,"wires":[[]]},{"id":"6210bc08.905bc4","type":"function","z":"68862836.29c7a8","name":"Check State","func":"// Fetch light state from our \"Track Lights\" data\n// - no need for a HA State node\n\nlet lights = flow.get('lights') || { state: { }, ids: [], ids_csv: '' }\nlet cfg = flow.get('cfg')|| {}\n\n// Return \"on\" if any one light is \"on\"\nreturn {\n    topic: 'light.'+lights.ids_csv,\n    payload: lights.ids.map(id => lights.state[id].state).includes('on') ? 'on' : 'off'\n}","outputs":1,"noerr":0,"x":895,"y":495,"wires":[["801822a5.c6d75"]]},{"id":"3c89b834.84d1a8","type":"split","z":"68862836.29c7a8","name":"Each Light","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":715,"y":315,"wires":[["3cbac613.622432"]]},{"id":"389eef7d.ef9a","type":"split","z":"68862836.29c7a8","name":"Each Light","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":715,"y":405,"wires":[["35ad226.a497bde"]]},{"id":"39541c73.33d464","type":"function","z":"68862836.29c7a8","name":"motion-on","func":"// We use a function here to generate a new clean message\n// Notably, attribute \"_timerpass\" from the last timer is breaking the next timer...\n\nreturn {\n    topic: 'state',\n    payload: 'motion-on'\n}","outputs":1,"noerr":0,"x":885,"y":360,"wires":[["e8072572.fffa18"]]},{"id":"2368d65a.ed031a","type":"function","z":"68862836.29c7a8","name":"motion-off","func":"// We use a function here to generate a new clean message\n// Notably, attribute \"_timerpass\" from the last timer is breaking the next timer...\n\nreturn {\n    topic: 'state',\n    payload: 'motion-off'\n}","outputs":1,"noerr":0,"x":900,"y":585,"wires":[["801822a5.c6d75"]]},{"id":"a26b8394.bcc5c","type":"change","z":"68862836.29c7a8","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":450,"wires":[["805a6ad9.621228"]]},{"id":"effe188b.5340f8","type":"function","z":"68862836.29c7a8","name":"status","func":"\nmsg.payload = {\n    text: msg.payload, \n    shape: msg.payload.match(/on/) ? 'ring' : 'dot',\n    fill: msg.payload == 'switch' ? 'red' : 'green'\n}\nreturn msg;","outputs":1,"noerr":0,"x":925,"y":158,"wires":[[]]},{"id":"c1bd7dbd.a6c438","type":"subflow:52ec5c2a.0db154","z":"68862836.29c7a8","name":"pause","env":[{"name":"defaultDelay","value":"pause","type":"env"}],"x":695,"y":360,"wires":[["39541c73.33d464"]]},{"id":"805a6ad9.621228","type":"subflow:52ec5c2a.0db154","z":"68862836.29c7a8","name":"pause","env":[{"name":"defaultDelay","value":"pause","type":"env"}],"x":695,"y":450,"wires":[["6210bc08.905bc4"]]},{"id":"60f926e0.73c6b8","type":"subflow:52ec5c2a.0db154","z":"68862836.29c7a8","name":"Back to Auto","env":[{"name":"defaultDelay","value":"manualCooldown","type":"env"}],"x":685,"y":540,"wires":[["6210bc08.905bc4"]]},{"id":"a52980c6.214f88","type":"subflow:52ec5c2a.0db154","z":"68862836.29c7a8","name":"Turn Off after motion ends","env":[{"name":"defaultDelay","value":"timeOffAfter","type":"env"}],"x":695,"y":585,"wires":[["2368d65a.ed031a"]]},{"id":"3cbac613.622432","type":"switch","z":"68862836.29c7a8","name":"Manual?","property":"manualLight","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":885,"y":315,"wires":[[],["949bf90b.fc19e8"]]},{"id":"35ad226.a497bde","type":"switch","z":"68862836.29c7a8","name":"Manual?","property":"manualLight","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":885,"y":405,"wires":[[],["a68e2b6.6b0c1d8"]]},{"id":"e8072572.fffa18","type":"link out","z":"68862836.29c7a8","name":"living room state","links":["faa9cc31.66ec7"],"x":990,"y":375,"wires":[]},{"id":"f43d015e.4b29","type":"server","z":"","name":"Home Assistant"}]
