subflows/stoptimerplus.json
[{"id":"52ec5c2a.0db154","type":"subflow","name":"Stop Timer+","info":"","category":"function","in":[{"x":125,"y":90,"wires":[{"id":"89c69cc7.495148"},{"id":"94a30b52.647a2"}]}],"out":[{"x":800,"y":90,"wires":[{"id":"ce429c.7ff06d68","port":0}]}],"env":[{"name":"defaultDelay","type":"num","value":"5","ui":{"label":{"en-US":"Default Delay (s)"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#E6E0F8","icon":"node-red/timer.svg","status":{"x":815,"y":150,"wires":[{"id":"94a30b52.647a2","port":0},{"id":"c5fd7733.50cae8","port":0}]}},{"id":"c9e2baf2.7dc288","type":"delay","z":"52ec5c2a.0db154","name":"Delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":545,"y":90,"wires":[["c5fd7733.50cae8","ce429c.7ff06d68"]]},{"id":"89c69cc7.495148","type":"function","z":"52ec5c2a.0db154","name":"","func":"msg.delay = (('delay' in msg) ? msg.delay : env.get('defaultDelay'))*1000\n\nif (msg.payload == 'stop')\n  return {reset: true}\n   \nreturn [[\n    {reset:true}, \n    msg\n    ]];","outputs":1,"noerr":0,"x":260,"y":90,"wires":[["c9e2baf2.7dc288"]]},{"id":"38062308.326b1c","type":"split","z":"52ec5c2a.0db154","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":405,"y":90,"wires":[[]]},{"id":"1d5704b9.6b4df3","type":"inject","z":"52ec5c2a.0db154","name":"Init","topic":"","payload":"defaultDelay","payloadType":"env","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":245,"y":45,"wires":[["309f0b20.5e9a3c"]]},{"id":"309f0b20.5e9a3c","type":"function","z":"52ec5c2a.0db154","name":"Set Delay","func":"// if (!('delay' in msg))\n    // msg.delay = env.get('defaultDelay')*1000\n\nreturn {\n        reset:true,\n        delay:env.get('defaultDelay')*1000\n    }","outputs":1,"noerr":0,"x":420,"y":45,"wires":[["c9e2baf2.7dc288"]]},{"id":"94a30b52.647a2","type":"function","z":"52ec5c2a.0db154","name":"Start status","func":"\nif (msg.payload == 'stop')\n    return { payload: {\n        text: 'stopped', \n        shape: 'ring',\n        fill: 'red'\n    } }\n\nreturn { payload: {\n    text: 'running ('+(msg.delay || env.get('defaultDelay'))+'s)', \n    shape: 'dot',\n    fill: 'green'\n} }\n","outputs":1,"noerr":0,"x":475,"y":150,"wires":[[]]},{"id":"c5fd7733.50cae8","type":"function","z":"52ec5c2a.0db154","name":"End status","func":"\nmsg.payload = {\n    // text: msg.payload, \n    // shape: stopped ? 'ring' : 'dot',\n    // fill: stopped ? 'red' : 'green'\n}\nreturn msg;","outputs":1,"noerr":0,"x":685,"y":135,"wires":[[]]},{"id":"ce429c.7ff06d68","type":"function","z":"52ec5c2a.0db154","name":"tweak","func":"// if (msg.delay)\n//   msg.delay = msg.delay / 1000\n\ndelete msg.stop;\ndelete msg.delay;\n\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":90,"wires":[[]]}]
